body {
    background-color: gray;
    font-size: 1.5em;
}

header {
    color: white;
    background-color: black;
    padding: 10px;
    padding-left: 20px;
}

header aside {
    display: flex;
    justify-content: space-around;
}

header div,
header p {
    color: red;
}

main {
    max-width: 50vw;
}

form ul {
    list-style: none;
    padding: 0;
}

form li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

input {
    width: 400px;
}

button {
    padding: 10px;
    border: none;
}


.caixa {
    border-style: groove;
    border-color: aliceblue;
    padding: 10px;
}

#ultima-caixa {
    border-color: blueviolet;
}